* {
  font-family: "Poppins", sans-serif;
  color: #263238;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #25a18e;
  border-radius: 20px;
  border: solid transparent 6px;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #1e8576;
}