.navbar {
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.navbar.bg-light {
  background-color: white;
}

.nav-search {
  width: 100% !important;
}

.nav-link.btn-user::before {
    font-size: 1.5em;
}

.nav-link.btn-menu::before {
    font-size: 1.5em;
}