/* PRODUK LISTS */

.produk-list-container {
    padding-top: 0 !important;
}

.promo-banner {
    border: 3px solid #25a18e;
    height: 20vh;
    border-radius: 10px;
}

.banner-1 {
    /* width: 35vw; */
    margin-right: 25px;
}

.banner-2 {
    /* width: 20vw; */
}

.product-card-container {
    margin-top: 25px;
}
.product-img {
    width: 100% !important;
}

.card-img-top {
    border-radius: 10px;
}

.searchtitle {
    display: flex;
    /* justify-content: flex-end; */
    align-items: center !important;
    vertical-align: middle;
}

.searchtitle h6 {
    padding: 0 !important;
}

.urutdrop {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 !important;
}

/* END OF PRODUK LIST */

/* PRODUK DETAIL */

.product-detail-container {
    background-color: white;
    display: flex;
    align-items: flex-start !important;
}

.product-content {
    padding-left: 5vw;
}

.product-name-container {
    margin-bottom: 20px;
}

button.btn-love {
  color: #25a18e;
  background-color: transparent;
  border-radius: 10px;
  
  border: 0 !important;

  transition: all 0.2s ease-in-out;
}

button.btn-love:hover {
  color: white;
  background-color: #CE2D4F;
  transform: scale(1.05) !important;
}

.product-desc {
    padding-top: 5vh;
}

.product-img-container {
    /* padding: 2vw !important; */
    /* width: 35vh; */
}

.product-img-container .row {
    height: 50vh;
}

/* END OF PRODUK DETAIL */

@media (min-width: 992px) { 
    
}

@media (max-width: 992px) { 
    
}

@media (max-width: 572px) { 
    .produk-list-container, .breadcrumbs, .product-detail-container {
        padding: 5vw !important;
        padding-right: 6vw !important;
    }

    .banner-1, .banner-2 {
        margin-bottom: 15px;
    }

    /* DETAIL */
    .product-content {
        margin-top: 5vh;
    }
    /* END OF DETAIL */

}