/* PRODUK LISTS */

.produk-list-container {
    padding-top: 0 !important;
}

.promo-banner {
    border: 3px solid #25a18e;
    height: 20vh;
    border-radius: 10px;
}

.banner-1 {
    /* width: 35vw; */
    margin-right: 25px;
}

.banner-2 {
    /* width: 20vw; */
}

.product-card-container {
    margin-top: 25px;
}
.product-img {
    width: 100% !important;
}

.card-img-top {
    border-radius: 10px;
}

.filter-sidebar-container {
    margin-top: 10vh;
}

.filter-sidebar {
    border-radius: 10px;
    border: 3px solid #25a18e;
    /* padding: 2vw; */
    position: fixed;
}

.sidebar-title {
    background-color: #25a18e;
    padding: 10px;
    display: flex;
    align-items: center;
}

.sidebar-title h4 {
    color: white !important;
}

.sidebar-content-container {
    background-color: white;
    border-radius: 10px;    
}

.sidebar-content {
    padding-left: 1.5vw;;
}

/* END OF PRODUK LIST */

/* PRODUK DETAIL */

.product-detail-container {
    background-color: white;
    display: flex;
    align-items: center !important;
}

.product-name-container {
    margin-bottom: 20px;
}

button.btn-love {
  color: #25a18e;
  background-color: transparent;
  border-radius: 10px;
  
  border: 0 !important;

  transition: all 0.2s ease-in-out;
}
button.btn-love:hover {
  color: white;
  background-color: #CE2D4F;
  transform: scale(1.05) !important;
}

.product-desc {
    margin-top: 25px;
}

.product-img-container {
    padding: 2vw !important;
}

.product-img-container .row {
    height: 75vh;
}

/* END OF PRODUK DETAIL */