.container-fluid {
  padding: 0;
}

.fluid-page {
  min-width: 100vw;
  min-height: 100vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-right: 2vw !important;
}

.title,
.primary {
  font-family: "Merriweather", serif;
  font-weight: 900 !important;
}

.accent-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700 !important;
}

.t-primary {
  color: #25a18e !important;
}

.t-warning {
  color: #f96e46 !important;
}

.t-danger {
  color: #ce2d4f !important;
}

.t-info {
  color: #00a5cf !important;
}

.t-dark {
  color: #004e64 !important;
}

.bg-light {
  background-color: white !important;
}

.b-transparent {
  background: transparent !important;
}

.b-primary {
  border: none !important;
  background-color: #25a18e !important;
  color: white !important;
}

.b-warning {
  background-color: #f96e46 !important;
  color: white !important;
}

.b-danger {
  background-color: #ce2d4f !important;
  color: white !important;
}

.b-info {
  background-color: #00a5cf !important;
  color: white !important;
}

.b-secondary {
  border: 2px solid #25a18e !important;
  background-color: #9fffcb !important;
  color: #25a18e !important;
}

button.b-warning:hover {
  background-color: #f85325 !important;
  color: white !important;

  transform: scale(1.05);
}

button.b-danger:hover {
  background-color: #b82848 !important;
  color: white !important;

  transform: scale(1.05);
}

button.b-info:hover {
  background-color: #0093b8 !important;
  color: white !important;

  transform: scale(1.05);
}

button.b-secondary:hover {
  border: 2px solid #25a18e !important;
  background-color: #25a18e !important;
  color: white !important;

  transform: scale(1.05);
}

button.b-warning:active {
  background-color: #ed3907 !important;
  color: white !important;
}

button.b-danger:active {
  background-color: #97213b !important;
  color: white !important;
}

button.b-info:active {
  background-color: #00728f !important;
  color: white !important;
}

button.b-secondary:active {
  border: 2px solid #25a18e !important;
  background-color: #1e8576 !important;
  color: white !important;
}

.accent-text {
  color: #25a18e !important;
}

.subtitle {
  line-height: 1.7rem;
}

.bg-pattern {
  background-color: #9fffcb;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%2325a18e' fill-opacity='0.4' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
}

button {
  padding: 1vw 1.5vw !important;
  font-size: larger !important;
  border: 0;

  transition: all 0.2s ease-in-out;
}

button.primary {
  background-color: #25a18e;
  border: none;
  border-radius: 10px;

  color: white;
}

button.primary:hover {
  transform: scale(1.05);
}

button.primary:active {
  background-color: #1e8576;
  transform: scale(1.05);
}

button.small {
  padding: 0.7vw 1vw !important;
  font-size: 90% !important;
  border-radius: 7px !important;
  border-width: 2px !important;
}

button.xsmall {
  font-size: x-small !important;
  padding: 7.5px 10px !important;
  border-radius: 5px;
}

button.outline-primary {
  color: #25a18e;
  background-color: transparent;
  /* border: 3px solid #25a18e;  */
  border-radius: 10px;
}

button.outline-primary.hover-no-scale:hover {
  color: white;
  background-color: #25a18e;
  transform: scale(1) !important;
}

button.outline-primary:hover {
  color: white;
  background-color: #25a18e;
  transform: scale(1.05) !important;
}

.btn-add::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f067";
}

.btn-edit::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f304";
}

.btn-trash::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f1f8";
}

.btn-love::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f004";
}

.btn-user::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f2bd";
}

.btn-menu::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0c9";
}

input.userpages,
select.userpages,
textarea.userpages {
  padding: 1vw 1.5vw !important;
  font-size: larger !important;
  border: 1px solid #263238 !important;
  border-radius: 7px !important;
}

input.small,
select.small,
textarea.small {
  padding: 0.7vw 1vw !important;
  font-size: 90% !important;
}

input[type="date"].outline-primary {
  color: #25a18e;
  background-color: transparent;
  border: 2px solid #25a18e !important;
  border-radius: 5px !important;
  padding: 0.3vw;
  cursor: pointer;

  transition: all 0.2s ease-in-out;
}

input[type="date"].outline-primary.hover-no-scale:hover {
  color: white;
  background-color: #25a18e;
  transform: scale(1) !important;
}

button.long {
  width: 100% !important;
}

button.user-sidebar-button {
  background-color: transparent;
  border: none;
  transition: all 0.1s ease-in-out;
}

button.user-sidebar-button:hover {
  font-weight: 700 !important;
  font-size: 1.5rem !important;
  color: #25a18e !important;
  background-color: transparent;
}

button.user-sidebar-button .user-sidebar-icon:hover {
  color: #25a18e !important;
}

button.user-sidebar-button:active {
  background-color: #eefbf9 !important;
}

button.user-sidebar-button .user-sidebar-icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.status-badge {
  border-radius: 15px;
  text-align: center;
  font-weight: 700;
  font-size: smaller;
  word-wrap: break-word !important;
  padding: 3px 10px !important;
}

a {
  text-decoration: none;
  color: #263238 !important;
  transition: all 0.1s ease-in-out;
}

a:hover {
  color: #25a18e !important;
}

.card.card-primary {
  color: white !important;
  background-color: #25a18e;
  border-radius: 10px;
  border: none;
  padding: 1vw !important;
}

.card.card-outline-primary {
  color: white !important;
  border: 3px solid #25a18e !important;
  background-color: white;
  border-radius: 10px;
  /* padding: 1vw; */
}

.card.card-outline-primary .card-body {
  padding: 1.5vw;
}

.product-card {
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.product-card:hover {
  transform: scale(1.02);
}

.product-card span.name-tag {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-card .badge.product-btn-wl {
  position: absolute;
  top: 15px;
  right: 15px;
}

.product-card .badge.product-btn-wl > i {
  color: #ce2d4f;
  /* border: 2px solid #CE2D4F !important; */
}

.form-helper-text {
  /* opacity: 75%; */
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.form-helper-text:hover {
  color: #25a18e;
}