.admin-header {
  z-index: 1;
  border-radius: 15px 0;
}

.admin-side-navbar {
  z-index: 2;
  background-color: #25a18e;
  border-radius: 0 15px 15px 0;
}

.admin-side-navbar > .nav > .nav-link {
  border-radius: 15px;
}

.admin-side-navbar > .nav > .nav-link:hover {
  background-color: #fff;
  border-radius: 15px;
}

.admin-overview-card .card {
  border-color: #25a18e !important;
  border-radius: 15px;
}

.admin-table,
.admin-form {
  border-color: #25a18e !important;
  border-radius: 15px !important;
}